<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Color properties (RGBA) -->
  <xacro:property name="light_grey_rgba" value="0.8 0.8 0.8 1.0"/>
  <xacro:property name="charcoal_rgba" value="0.15 0.15 0.15 1.0"/>

  <!-- Joint origins (from onshape-to-robot calibration) -->
  <xacro:property name="shoulder_pan_xyz" value="0.0388353 -8.97657e-09 0.0624"/>

  <xacro:property name="shoulder_lift_xyz" value="0.0303992 -0.0182778 0.0542"/>
  <xacro:property name="shoulder_lift_rpy" value="-1.5708 1.5708 0"/>

  <xacro:property name="elbow_flex_xyz" value="-0.11257 -0.028 1.73763e-16"/>
  <xacro:property name="elbow_flex_rpy" value="-3.63608e-16 8.74301e-16 1.5708"/>

  <xacro:property name="wrist_flex_xyz" value="-0.1349 0.0052 3.62355e-17"/>
  <xacro:property name="wrist_flex_rpy" value="4.02456e-15 8.67362e-16 -1.5708"/>

  <xacro:property name="wrist_roll_xyz" value="5.55112e-17 -0.0611 0.0181"/>
  <xacro:property name="wrist_roll_rpy" value="1.5708 0.0486795 3.14159"/>

  <xacro:property name="gripper_xyz" value="0.0202 0.0188 -0.0234"/>
  <xacro:property name="gripper_rpy" value="1.5708 -5.24284e-08 -1.41553e-15"/>

  <xacro:property name="gripper_frame_xyz" value="-0.0079 -0.000218121 -0.0981274"/>
  <xacro:property name="gripper_frame_rpy" value="0 3.14159 0"/>

</robot>
